In [45]:
import pandas as pd
import json
import requests

In [48]:
response = pd.read_json('tweet.json')

In [49]:
tweet_df

,0,1,2,3,4,5,6,7,8,9,...,328,329,330,331,332,333,334,335,336,337
0,"{'date': 1609942590000, 'favorites': '458141',...","{'date': 1604299903000, 'favorites': '92746', ...","{'date': 1604231375000, 'favorites': '124689',...","{'date': 1604084613000, 'favorites': '44842', ...","{'date': 1603037689000, 'favorites': 62414, 'i...","{'date': 1602377246000, 'favorites': 34952, 'i...","{'date': 1601996447000, 'favorites': 58201, 'i...","{'date': 1601032974000, 'favorites': 43281, 'i...","{'date': 1599772551000, 'favorites': 20973, 'i...","{'date': 1599742660000, 'favorites': 36637, 'i...",...,"{'date': 1402681620000, 'favorites': 261, 'id'...","{'date': 1401900498000, 'favorites': 1101, 'id...","{'date': 1376450122000, 'favorites': 180, 'id'...","{'date': 1370888751000, 'favorites': 43, 'id':...","{'date': 1369915849000, 'favorites': 5, 'id': ...","{'date': 1367034023000, 'favorites': 23, 'id':...","{'date': 1355936996000, 'favorites': 65, 'id':...","{'date': 1345661525000, 'favorites': 201, 'id'...","{'date': 1340220993000, 'favorites': 425, 'id'...","{'date': 1282658832000, 'favorites': 85, 'id':..."